

.footer{
    height: 50vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
  }
  .fcontent{
    display: flex;
    color: azure;
    padding: 30px;
   
    flex-direction: row;
    gap: 250px;
  }
  
  .projlistf{
    cursor: pointer;
    display: flex;
    margin-top: 10px;
    flex-direction: column;
    gap: 8px;
    font-size: 15px;
    margin-left: 9px;
    list-style: none;
  }
  .soclist{
    display: flex;
    margin-top: 7px;
    flex-direction: column;
    gap: 5px;
    font-size: 15px;
    /* margin-left: 5px; */
    list-style: none;
    
  }
  
  .socioli a{
    display: flex;
    flex-direction: row;
    gap: 3px;
    align-items: center;
    height: 32px;
    color: azure;
    text-decoration: none;
  }
  
  .line{
    width: 90vw;
    
   border-top: azure 2px solid;
   opacity: 50%;
  }
  
  .gitsource{
    cursor: pointer;
    text-decoration: none;
   display: flex;
   gap: 5px;
   transition: .5s;
   transition-timing-function: ease-in-out;
   align-items: center;
   border: 2px rgb(0 199 255) solid;
   border-radius: 10px;
   color: rgb(0 199 255);
   padding: 5px;
   height: 50px;
   
  }
  .gitsource:hover{
    transform: scale(1.1);
  }
  
  .love{
    color: azure;
    margin-top: 45px;
  }

  .boxesgr{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
    padding-top: 2rem;

  }

  .resgs{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: larger;
    gap: 0.7rem;
    padding: 0rem 2rem;
  }