.projects{
    height: 200vh;
    background-color: rgb(0 10 31);
    color: azure;
}

@import url('https://fonts.googleapis.com/css?family=Cairo');


.title {
	margin-top: 3vh;
	font-family: "Cairo";
	/* text-align: center; */
	color: #FFF;
    display: flex;
	flex-direction: column;
	align-items: center;
	letter-spacing: 1px;
	line-height:2

}

.projtit {
	background-image: url(https://i.gifer.com/embedded/download/2928.gif);
	background-size: cover;
	color: transparent;
    width:300px;
    justify-self: center;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 50px;
	
}

.projlist{
	margin-top: 40px;
	display: flex;
	flex-direction: column;
	gap: 200px;
}

.projimg{
	width: 500px;
}

#projimg2{
	height: 300px;
}

.proj{
	display: flex;
	width: 100vw;
	justify-content: space-evenly;
}

.projtext{
	width: 450px;
	display: flex;justify-content: flex-start;
}

.projdesc{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

#proj2{
	flex-direction: row-reverse;
}

.gitsourcep{
	cursor: pointer;
	text-decoration: none;
	margin-top: 70px;
   display: flex;
   gap: 5px;
   transition: .5s;
   transition-timing-function: ease-in-out;
   align-items: center;
   border: 2px rgb(0 199 255) solid;
   border-radius: 10px;
   color: rgb(0 199 255);
   padding: 5px;
   height: 50px;
   width: 211px;
  align-self: center;
  margin-left: 3px;
   
  }
  .gitsourcep:hover{
	transform: scale(1.1);
  }
  


