
.banner{
  overflow: hidden;
  padding: 30px;
  
  background-color: #152846;
  width: 100%;
  height: 90vh;
}
.downsvg{
  rotate: 90deg;
  animation: bounce 0.7s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  cursor: pointer;

}

@keyframes bounce {
  0% {
      transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(1rem, 0, 0);
  }
  /* 100% {
      transform: translate3d(0, 0, 0);
  } */
}

.downarrowd{
  display: flex;
  justify-content: center;
  padding-bottom: 5vh;
  background-color: #152846;

}

.bannercontent{
  
  display: flex;
  /* justify-content: space-between; */
  gap: 20vw;
}


.logoban{
  width: 50vw;
  margin-top: 10vh;
  transition: .5s;
}



.tcont{
  margin-top: 10vh;
  width: 50vw;
  text-shadow: rgba(0, 0, 0, 0.2) 3px 3px 50px;
}

.hi{
  color: azure;
  position: relative;
  top: 40px;
  left: 60px;
}

.name{
  color: rgb(0 199 255);
  position: relative;
  font-size: 50px;
  top: 40px;
  left: 60px;
}

.desc{
  color: #e83e8c;
  font-size: 50px;
  position: relative;
  top: 40px;
  left: 60px;
  text-shadow: rgba(0, 0, 0, 0.2) 0px 0px 43px;
}


/* 3d art pos and animation */

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

.ar3d{
  width: 3rem;
  position: relative;
  animation: float 5s ease-in-out infinite;
  /* animation: bounce 0.7s;
  animation-timing-function: ease-in;
  animation-direction: alternate;
  animation-iteration-count: infinite;  */
}

.coder3{
  width: 30vw;
}
#d31{
  width: 7rem;
  right: 27.5vw;
  bottom: 17vh;
}

#d32{
  left: 9vw;
  bottom: 55vh;
  width: 4rem;
  
}
#d33{
  left: 15vw;
  width: 9rem;
  bottom: 45vh;
}
#d34{
      left: 8vw;
      bottom: 35vh;
    }
#d35{
      left: 8vw;
      bottom: 32vh;
}
