
.banner{
    overflow: hidden;
    padding: 2vh;
    
    background-color: black;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    
  }
  .logoban{
  
    margin-top: 7vh;
    margin-right: 10vw;
    position: relative;
    right: 3vw;
    transition: .5s;
    transform: rotate(20deg);
  }
  .coder3{
    position: relative;
    left: 23vw;
    width:28vw;
    top: 1vh;
    rotate: -20deg;
  }

  
  
  
  .tcont{
    margin-top: 10vh;
  }
  
  .hi{
    color: azure;
    position: relative;
    top: 5vh;
    left: 4vw;
    font-size: 2vw;
  }
  
  .namelogo{
    width:3vw;
  }
  
  .name{
    color: rgb(0 199 255);
    position: relative;
    font-size: 2.7vw;
    top: 5vh;
    left: 4vw;
  }
  
  .desc{
    color: #e83e8c;
    font-size: 3.5vw;
    position: relative;
    top: 5vh;
    left: 4vw;
  }
  